# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MSW (Mock Service Worker)
public/mockServiceWorker.js
.msw/
.msw-cache/
.cache/msw/
src/mocks/**/*.js.map
src/mocks/**/*.ts.map

# Optional (if using MSW via setupWorker)
src/mocks/browser.js
src/mocks/server.js

# Optional: ignore generated handlers
src/mocks/handlers/*

